

.contForPanel {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
}


.sidebar {
    background: #E2891F;
    color: #fff;
    height: 85vh;
    width: 200px;
    transition: all 0.5s;
    border-radius: 7px;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.LogoForPanel {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.TextPanel {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

    .TextPanel:hover {
        background: lightskyblue;
        color: #000;
        transition: all 0.5s;
    }

.activeForPanel {
    background: lightskyblue;
    color: #000;
}

.IconForPanel, .TextForButPanel {
    font-size: 20px;
}
.icon_for_panel {
    fill: white !important;
    filter: invert(1);
}
.imgForPanel {
    width: 20px;
}
.sidebar .TextForButPanel {
    display: none;
}

.sidebar:hover .LogoForPanel {
    display: block;
}

.sidebar .bars:hover {
    margin-left: 50px;
}

.sidebar:hover .TextForButPanel {
    display: block;
}