.icon_for_header {
    width: 20px;
    fill: white !important;
    filter:invert(1);
}
#DTwin-logo {
    font-family: Roboto!important;
    width: 30%;
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
}
#headerForHome {
    background-color: #212026;
    position: relative;
    padding: 0px;
}
#hForModels {
    height: 92px;
    background-color: #262626;
    position: absolute;
    left: 70px;
    width: 92%;
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
}
#DTwin-logo:hover:after {
        content: "Digital Twin" !important;
    }
#DTwin-logo:after {
        content: "DTwin" !important;
    }
#ModelLogo:hover:after {
    content: 'Модель поля "Пшеница"';
}

#ModelLogo:after {
    content: 'Модель поля "Пшеница"';
}
#nav_links {
    margin: 0;
    display: flex;
    min-width: 213px;
    justify-content: right;
    width: max-content;
}
#menu {
    display: flex;
    justify-content: space-around;
    height: 70px;
}
#menu1 {
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    width:100%;
}

.navbar-brand {
    display: inline;
    font-size: 13px;
    font-family: 'Open Sans' !important;
}
.navbar-brandForD {
    display: inline;
    font-size: 28px;
    font-family: 'Yeseva One' !important;
}

